
            <nav class="color1 col-sm-12 col-md-12 col-lg-12 py-3 row navbar navbar-expand-lg navbar-dark">  
                <button class="navbar-toggler" data-target="#menu" data-toggle="collapse" type="button" >
                    <span class="navbar-toggler-icon"></span>
                </button> 
                <div class="col-lg-8 col-md-6 col-sm-6 collapse navbar-collapse py-1" id="menu" >
                    <ul class="navbar-nav mr-auto">
                        <li><a href="../../" class="nav-link"><b>INICIO</b></a></li>
                    
                        <li><a href="./practicas" class="nav-link"><b>PRACTICAS</b></a></li>
                    
                        <li><a href="" class="nav-link"><b>VIDEOS</b></a></li>
                    
                        <li class="dropdown show">
                            <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Asignaciones
                              </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a href="/users" class="dropdown-item"><b>Usuarios</b></a>
                                <a href="/roles" class="dropdown-item"><b>Roles</b></a>
                                
                             
                              </div>
                        
                        </li>
                  
                        <li><a href="/#contact" class="nav-link"><b> CONTACTOS </b></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-5 col-sm-6 text-white">
                   <div id="tiempo" ></div>
                   <div >
                       <span id="fecha"></span>
                   </div>
                    
                </div>
                <div class="col-lg-1 col-md-1 col-sm-6">
                    <a href="/logout" class="btn btn-danger btn-sm">salir</a>
               </div>
            </nav>